<launch>
  <arg name="robot_ip" default="192.168.125.1"/>
  <arg name="rws_username" default="ROS"/>
  <arg name="rws_password" default="robotics"/>
  <arg name="load_robot_description" default="true"/>
  <arg name="moveit_config_pkg" default="abb_irb120_moveit_config"/>
  <arg name="debug" default="false"/> <arg name="info" default="true"/> 
  <arg name="netft_ip" default="192.168.126.125"/>
  <arg name="run_base"/>
  <arg name="use_moveit" default="true"/>
  <arg name="tag_ns" default="cont_detect"/>

  <!-- ############################## -->
  <!-- ### Robot Hardware Bringup ### -->
  <!-- ############################## -->

  <!-- Launch the bringup -->
  <include file="$(find com_3d)/launch/bringup_irb120.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="rws_username" value="$(arg rws_username)"/>
    <arg name="rws_password" value="$(arg rws_password)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Spawn the robot and rsp -->
  <!-- <include file="$(find com_3d)/launch/load_irb120_3_58.launch" /> -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find com_3d)/urdf/irb120_with_finger.xacro'" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" output="screen"/>

  <!-- ############################### -->
  <!-- ## Startup Script (EGM init) ## -->
  <!-- ############################### -->

  <!-- TEMP start rapid, etc. Let's see if we can do this in ros-syntax instead of a script -->
  <!-- <node pkg="com_3d"
        type="startup_robot.sh"
        name="robot_startup_automation"
        output="screen"
        launch-prefix="bash -c 'sleep 5.0; $0 $@' "/> -->
  <node pkg="com_3d"
          type="egm_settings_and_jtc_init.py"
          name="egm_settings_and_jtc_init"
          output="screen"/>

  <!-- ############################## -->
  <!-- ####### MoveIt Bringup ####### -->
  <!-- ############################## -->

  <!-- Load the moveit controllers -->
  <rosparam if="$(arg use_moveit)" command="load" file="$(find com_3d)/config/moveit_controllers.yaml"/>
  
  <!-- Planning context -->
  <include if="$(arg use_moveit)" file="$(find abb_irb120_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="false"/>
  </include>

  <include if="$(arg use_moveit)" file="$(find abb_irb120_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true"/>
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/> 
    <arg name="info" value="$(arg info)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- MoveIt RViz visualization -->
  <include if="$(arg use_moveit)" file="$(find abb_irb120_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

  <!-- EE pose Logger -->
  <!-- <node pkg="com_3d" type="ee_pose_logger.py" name="ee_pose_logger" output="screen">
    <param name="run_base" value="$(arg run_base)"/>
  </node> -->

  <!-- ############################### -->
  <!-- ##### NETFT Sensor Config ##### -->
  <!-- ############################### -->

  <include file="$(find com_3d)/launch/live_netft.launch">
      <arg name="apply_transform" value="true"/>
      <arg name="apply_bias" value="true"/>
    </include>

  <!-- Launch the logger and save to CSV-->
  <!-- <node pkg="com_3d" type="netft_logger.py" name="netft_logger" output="screen">
    <param name="run_base" value="$(arg run_base)"/>
    <param name="ft_topic" value="/netft_data_transformed"/>
  </node> -->

  <!-- ############################### -->
  <!-- ### Video & AprilTag Config ### -->
  <!-- ############################### -->

  <!-- USB camera node -->
  <node pkg="usb_cam" type="usb_cam_node" name="usb_cam" output="screen">
    <param name="video_device" value="/dev/video0"/>
    <param name="image_width" value="1920"/>
    <param name="image_height" value="1080"/>
    <param name="pixel_format" value="mjpeg"/>
    <param name="io_method" value="mmap"/>
    <param name="frame_rate" value="60"/> <!-- This was 30 fps previously and worked -->

    <!-- Point to calibration file produced by camera_calibration -->
    <param name="camera_info_url" value="file:///home/airlab07/irb_ws/src/irb120_noetic/com_3d/config/usb_cam_calibration.yaml"/>
  </node>


  <!-- AprilTag detector (copied from apriltag_ros pkg) -->
  <rosparam command="load" file="$(find com_3d)/config/apriltag_settings.yaml" ns="$(arg tag_ns)" />
  <rosparam command="load" file="$(find com_3d)/config/apriltags.yaml" ns="$(arg tag_ns)" />
  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="$(arg tag_ns)" clear_params="true" output="screen" launch-prefix="" >
    <remap from="image_rect" to="/usb_cam/image_raw" />
    <remap from="camera_info" to="/usb_cam/camera_info" />
    <param name="publish_tag_detections_image" type="bool" value="true" />
  </node>

  <!-- Logger: starts video+CSV when a trajectory goal is published -->
  <!-- <node pkg="com_3d" type="apriltag_logger.py" name="apriltag_logger" output="screen">
    <param name="run_base" value="$(arg run_base)"/>
    <param name="detector_ns" value="$(arg tag_ns)"/>
    <param name="dets_topic_name" value="tag_detections"/>
    <param name="image_topic" value="/tag_detections_image"/>
  </node> -->

  <!-- Visualize using rqt_image_viewer -->
  <node pkg="rqt_image_view" type="rqt_image_view" name="view_tag_overlay" output="screen"
    args="/tag_detections_image">
    <param name="image_transport" value="raw"/>
  </node>

  <!-- Shutdown Handler (cleanup on exit) -->
  <node pkg="com_3d" type="shutdown_handler.py" name="shutdown_handler" output="screen"/>


  <!-- LAUNCH ALL LOGGERS -->
  <node pkg="com_3d" type="sync_logger.py" name="sync_logger" output="screen">
    <param name="run_base" value="$(arg run_base)"/>
    <param name="base_frame" value="base_link"/>
    <param name="ee_frame"   value="finger_tip"/>
    <param name="ft_topic"   value="/netft_data_transformed"/>
    <param name="dets_topic_name" value="tag_detections"/>
    <param name="tag_max_age" value="0.10"/>

    <!-- video/overlay config -->
    <param name="image_topic"   value="/tag_detections_image"/>
    <param name="fps_hint"      value="60"/>
    <param name="warmup_frames" value="10"/>
  </node>

</launch>